# Gradle
.gradle/
build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
output-metadata.json

# Build outputs
*.apk
*.aab
*.hprof

# OS
.DS_Store
*.log

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Backup files
*~